.calc{
    margin: 100px auto;
    width: 400px ;
    height: 550px ;
    border-radius: 20px;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 18px;
    box-shadow: 6px 6px 6px grey;
    user-select: none;
}
.btn{
    width: 70px;
    height: 70px;
    background-color:grey ;
    text-align: center;
    border-radius: 50%;
    user-select: none;
    font-size: large;
    border-color: rgb(48, 48, 48);
    box-shadow: rgb(48, 48, 48) ;
    cursor: grabbing;
    box-shadow: 3px;
}
.btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}
#Action{
    background-color: rgb(255, 100, 100);
}
.screen{
    height: 50px;
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    text-align: right;
    width: 382px;
    font-size: large;
    border: 2px solid gray;
    font-family: Arial;
    display: grid;
    margin-bottom: 20px;
    margin-top: 30px;
}
    #Clear{
    background-color: rgb(255, 255, 103);
    }
    #Result{
    background-color: rgb(57, 57, 255);
    }